.password_login {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.password_login input {
    width: 414px;
    height: 40px;
    padding: 0 10px;
    margin-bottom: 32px;
    border-radius: 4px;
    border: 1px solid #a3a0a0;
    outline: none;
}